<%= form_for(@donor, html: { class: "form-horizontal" }) do |f| %>
  <% if @donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

      <ul>
        <% @donor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span5">
      <div class="control-group">
        <%= f.label :name, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name, class: "input-block-level" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :company, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :company, class: "input-block-level" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :address, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :address, class: "input-block-level" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :city, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :city, class: "input-block-level" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :state, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :state, class: "input-block-level" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :zipcode, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :zipcode, class: "input-block-level" %>
        </div>
      </div>

    </div>

    <div class="span5">
      <div class="control-group">
        <%= f.label :receive_newsletters, class: "control-label" %>
        <div class="controls">
          <%= f.check_box :receive_newsletters, class: "input-block-level" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :receive_email, class: "control-label" %>
        <div class="controls">
          <%= f.check_box :receive_email, class: "input-block-level" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :phone, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :phone, class: "input-block-level" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :email, class: "input-block-level" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="control-group span10">
      <%= f.label :notes, class: "control-label" %>
      <div class="controls">
        <%= f.text_area :notes, rows: 6, class: "input-block-level" %>
      </div>
    </div>
  </div>

  <div class="actions controls">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to "Back", :back, class: "btn" %>
  </div>
<% end %>
