<h1>Donors</h1>
<div class="line"></div>

<table class="table table-hover table-bordered table-striped restore">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Zipcode</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>

<% @donors.each do |donor| %>
  <tr>
    <td>
      <%= donor.display_name %>
      <%= link_to edit_donor_path(donor) do %>
        <div data-toggle="tooltip" title="view profile" style="float:right" class="h4sprite profile"></div>
      <% end %>
    </td>
    <td><%= donor.state %></td>
    <td><%= donor.zipcode %></td>
    <td><%= donor.phone %></td>
    <td><%= donor.email %></td>
    <td style="width:100px;">
      <%= link_to edit_donor_path(donor) do %>
        <div data-toggle="tooltip" title="edit"class="h4sprite edit"></div>
      <% end %>
      <%= link_to donor do %>
        <div data-toggle="tooltip" title="print" class="h4sprite printer"></div>
      <% end %>
      <%= link_to donor, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <div data-toggle="tooltip" title="trash" class="h4sprite trash"></div>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
