<h1>Listing donors</h1>

<%= link_to 'New Donor', new_donor_path, class: "btn" %>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Receive newletters</th>
    <th>Receive email</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donors.each do |donor| %>
  <tr>
    <td><%= donor.name %></td>
    <td><%= donor.company %></td>
    <td><%= donor.address %></td>
    <td><%= donor.city %></td>
    <td><%= donor.state %></td>
    <td><%= donor.zipcode %></td>
    <td><%= donor.phone %></td>
    <td><%= donor.email %></td>
    <td><%= donor.receive_newletters %></td>
    <td><%= donor.receive_email %></td>
    <td><%= donor.notes %></td>
    <td><%= link_to 'Show', donor %></td>
    <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
    <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
