<%= form_for(@donation, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= label_tag :donor_name, "Donor", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :donorname %>
    </div>
  </div>
  <div class="control-group ">
    <%= label_tag :date, "Date", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :date %>
      <div class="h4sprite calendar"></div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :poundage, "Est. Weight", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :poundage %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :value, "Est. Value", :class => 'control-label' %>
    <div class="controls">
      <%= number_field_tag :value %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :coordinator, "Coordinator", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :coordinator %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <label class="radio inline">
        <%= radio_button_tag 'how', :dropoff %>Drop Off
      </label>
      <label class="radio inline">
       <%= radio_button_tag 'how', :pickup %>Pick Up
      </label>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, "Notes", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows =>3 %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

