<%= form_for(@donation, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :donor_id %>

  <div class="control-group">
    <label class="control-label">Donor</label>
    <div class="controls">
      <label class="control-label"><%= @donation.donor.name %></label>
    </div>
  </div>
  <div class="control-group ">
    <%= label_tag :donated_on, "Date", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :donated_on, class: "datepicker" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :poundage, "Est. Weight", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :poundage %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :value, "Est. Value", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :value %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :coordinator, "Coordinator", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :coordinator, nil, placeholder: "does nothing yet" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <label class="radio inline">
        <%= f.radio_button 'donation_method', :dropoff %>Drop Off
      </label>
      <label class="radio inline">
       <%= f.radio_button 'donation_method', :pickup %>Pick Up
      </label>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, "Notes", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows =>3 %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to "Cancel", :back, class: "btn" %>
  </div>
<% end %>

