<h1>Editing Donation</h1>
<div class="line"></div>

<%= render 'form' %>

<%= form_for [@donation, LineItem.new], html: { class: "form-inline" } do |f| %>
  <%= f.text_field :name, class: "input-xlarge", placeholder: "Item" %>
  <%= f.number_field :quantity, class: "input-small", placeholder: "Quantity" %>
  <%= f.text_field :notes, class: "input-xlarge", placeholder: "Notes" %>
  <%= f.submit "Add Item", class: "btn" %>
<% end %>

<table class="table table-hover table-bordered table-striped restore">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Notes</th>
    <th>Actions</th>
  </tr>

  <% @donation.line_items.each do |line_item| %>
    <tr>
      <td><%= line_item.name %></td>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.notes %></td>
      <td style="width:100px;">
        <%= link_to "#" do %>
          <div data-toggle="tooltip" title="edit" class="h4sprite edit"></div>
        <% end %>
        <%= link_to [@donation, line_item], method: :delete, data: { confirm: 'Are you sure?' } do %>
          <div data-toggle="tooltip" title="trash" class="h4sprite trash"></div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
